
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-div{
    height: 500px;
    width: 20%;
    border-radius: 10px;
    margin: 0px auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(31, 30, 30);
    margin-bottom: 10px;
}
.main-heading h2{
    /* height: 60px; */
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bolder;
    /* border-bottom: 2px solid black; */
}
.image-logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.name-container{
    display: flex;
    flex-direction: column;
    /* margin-top: 5px; */
}
.text{
    border: none;
    /* background-color: transparent; */
}
.post-text{
    /* background-color: transparent; */
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    /* font-weight: 500; */
    /* color: white; */
    border: none;
    padding-left: 10px;
}
.name h3{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}
.friends button{
    width: 70px;
    font-size: 14px;
}
.image-logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
}
.text-container ul{
    display: flex;
    gap: 33px;
    list-style: none;
}
.text-container ul li{
    font-size: 22px;
}
.color-input input{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}.color-input img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* gap: 10px; */
}
.background-image ul{
    display: flex;
    gap: 5px;
    list-style: none;
    margin: 10px 0px;
}
.footer{
    width: 100%;
    background-color: rgb(52, 52, 213);
    height: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}